body{
margin:0;
font-family:Arial;
background: linear-gradient(135deg,#0b1f3a,#1e3a8a,#0f172a);
color:white;
}

.header{
text-align:center;
padding:20px;
}

.logo{
width:150px;
}

.title{
font-size:26px;
font-weight:bold;
color:#facc15;
}

.match-card{
background:rgba(255,255,255,0.08);
margin:10px;
padding:12px;
border-radius:12px;
cursor:pointer;
transition:0.3s;
}

.match-card:hover{
background:rgba(255,255,255,0.15);
}

.lineup {
background: rgba(255,255,255,0.1);
margin: 5px 10px;
padding: 10px;
border-radius: 10px;
display: none;
}

.lineup p {
margin: 4px 0;
font-weight: bold;
color: #facc15;
}

select,input{
padding:8px;
border-radius:8px;
border:none;
margin:5px;
}

button{
background:#f97316;
border:none;
padding:8px 15px;
color:white;
border-radius:8px;
cursor:pointer;
}

table{
width:95%;
margin:auto;
border-collapse:collapse;
margin-top:10px;
}

td,th{
border:1px solid white;
padding:6px;
text-align:center;
}

.live{
background:red !important;
}

.countdown{
font-size:20px;
color:#facc15;
}

#scorers th, #scorers td{
border:1px solid white;
padding:6px;
text-align:center;
}
